<%= form_for(@person, html: {class: "form-horizontal"}) do |f| %>
  <% if @person.errors.any? %>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div class="alert alert-danger" role = "alert">
          <strong><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</strong>

          <ul>
          <% @person.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.date_field :date_of_birth, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bio, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :bio, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :height, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :height, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox col-sm-2 col-sm-offset-2">
      <label>
        <%= f.check_box :active %>
        <%= f.label :active %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= f.submit "Create Person", class:"btn btn-info col-sm-offset-2 " %>
      <%= link_to 'cancel', people_path, class:"btn btn-default" %>
    </div>
  </div>

<% end %>
